# Build artifacts
/tfsync
/result

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
backend_override.tf
remote_state_override.tf
tfsync_vars.tf

# tfsync generated
*.tfsync-backup
.tfsync/

# testing
tfsync-sample-cache/
